.accordion {
  text-align: left;
}
.accordion .accordion-item {
  border-bottom: 1px solid #eee;
}
.accordion .accordion-item:first-child {
  border-top: 1px solid #eee;
}
.accordion .accordion-title {
  position: relative;
  cursor: pointer;
}
.accordion .accordion-title .transition-title {
  color: #ad1f32;
}
.accordion .accordion-title h2 {
  font-size: 14px;
  margin: 0;
  padding: 14px 90px 14px 0;
  line-height: 18px;
  text-transform: initial;
}
.accordion .accordion-content {
  padding: 0 110px 20px 0;
}
.accordion .accordion-content p {
  font-size: 14px;
  line-height: 1.4em;
  margin: 10px 0 0 0;
}
.accordion .accordion-content p:first-child {
  margin-top: 0;
}
.accordion .accordion-content ul,
.accordion .accordion-content ol {
  margin: 10px 0 0 0;
}
.accordion .accordion-content li {
  margin: 7px 0;
  line-height: 1.4em;
}
.accordion .accordion-content table {
  border-collapse: collapse;
  border-spacing: 5px;
  margin: 20px 0;
}
.accordion .accordion-content table th,
.accordion .accordion-content table td {
  vertical-align: top;
  padding: 10px;
  border: solid 2px #666;
}
.accordion .accordion-content table th {
  font-weight: 700;
}
.accordion .toggle {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #a94442;
  position: absolute;
  right: 16px;
  top: 21px;
  cursor: pointer;
}
.accordion .toggle.active {
  border-top: unset;
  border-bottom: 8px solid #a94442;
}
