.header {
  height: 84px;
  background-color: #000000;
}
.header .container {
  position: relative;
}
.header .container .logo {
  position: absolute;
  top: 5px;
  left: 10px;
}
.header .container .logo .lasalledemo {
  display: none;
}
.header .container .companyName {
  text-align: center;
  color: #999999;
  margin-top: 28px;
}
.header .container .companyName.lasalledemo {
  font-size: 29px;
}
