<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #######################################################################
    # ALWAYS SSL (Handles Situation where the SSL terminates at the load balancer)
    #######################################################################

    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1  [R=301,L]

    # Ebay Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/ebay/pickuprequest$ [NC]
    RewriteRule ^.*$  "/ebay/pickup-request"    [R,NE,L]

    # GoDaddy Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/godaddy/pickuprequest$ [NC]
    RewriteRule ^.*$  "/godaddy/pickup-request"    [R,NE,L]

    # Principal Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/principal/pickuprequest$ [NC]
    RewriteRule ^.*$  "/principal/pickup-request"    [R,NE,L]

    # Workday Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/workday/pickuprequest$ [NC]
    RewriteRule ^.*$  "/workday/pickup-request"    [R,NE,L]

    # Yahoo Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/yahoo/page/pickuprequest$ [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/pickuprequest$ [NC]
    RewriteRule ^.*$  "/yahoo/pickup-request"    [R,NE,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
