<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On


    # Redirects from the old site
    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} ^/$ [OR]
    RewriteCond %{REQUEST_URI} ^/main.taf?
    RewriteRule ^(.*)$          http://www.sipiar.com?  [NC,R=301,L]

    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} ^/(.*)/main.taf?
    RewriteRule ^(.*)/main.taf?$          https://portal.sipiar.com/$1/  [NC,R=301,L]

    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} !^/(.*)/main.taf?
    RewriteRule ^(.*)$          https://portal.sipiar.com/$1/  [NC,R=301,L]

#######################################################################
    # ALWAYS SSL (Handles Situation where the SSL terminates at the load balancer)
    #######################################################################

    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1          [R=301,L]

    # Airgas Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/airgas/pickuprequest$     [NC]
    RewriteRule ^.*$  "/airgas/pickup-request"             [R,NE,L]

    # Ebay Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/ebay/pickuprequest$       [NC]
    RewriteRule ^.*$  "/ebay/pickup-request"               [R,NE,L]

    # GoDaddy Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/godaddy/pickuprequest$    [NC]
    RewriteRule ^.*$  "/godaddy/pickup-request"            [R,NE,L]

    # Principal Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/principal/pickuprequest$  [NC]
    RewriteRule ^.*$  "/principal/pickup-request"          [R,NE,L]

    # Trinity Health Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/trinity/pickuprequest$    [NC]
    RewriteRule ^.*$  "/trinity/pickup-request"            [R,NE,L]

    # Workday Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/workday/pickuprequest$    [NC]
    RewriteRule ^.*$  "/workday/pickup-request"            [R,NE,L]

    # Yahoo Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/yahoo/page/pickuprequest$ [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/pickuprequest$      [NC]
    RewriteRule ^.*$  "/yahoo/pickup-request"              [R,NE,L]

    # Zeta Interactive Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/zeta/pickuprequest$       [NC]
    RewriteRule ^.*$  "/zeta/pickup-request"               [R,NE,L]


    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
