<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On


    # Redirects from the old site
    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} ^/$ [OR]
    RewriteCond %{REQUEST_URI} ^/main.taf?
    RewriteRule ^(.*)$          http://www.sipiar.com?  [NC,R=301,L]

    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} ^/(.*)/main.taf?
    RewriteRule ^(.*)/main.taf?$          https://portal.sipiar.com/$1/  [NC,R=301,L]

    RewriteCond %{HTTP_HOST} ^www.belmont-technology.com$
    RewriteCond %{REQUEST_URI} !^/(.*)/main.taf?
    RewriteRule ^(.*)$          https://portal.sipiar.com/$1/  [NC,R=301,L]

    #######################################################################
    # ALWAYS SSL (Handles Situation where the SSL terminates at the load balancer)
    #######################################################################

    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1          [R=301,L]

    # Acxiom LLC Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/acxiomllc/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/acxiomllc/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/acxiomllc/pickup-request"                  [R,NE,L]

    # Airgas Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/airgas/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/airgas/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/airgas/pickup-request"                  [R,NE,L]

    # American Cancer Society Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/americancancersociety/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/americancancersociety/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/americancancersociety/pickup-request"                  [R,NE,L]

    # Amobee Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/amobee/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/amobee/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/amobee/pickup-request"                  [R,NE,L]

    # Anaplan Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/anaplan/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/anaplan/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/anaplan/pickup-request"                 [R,NE,L]

    # Arctic Wolf Networks Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/arcticwolf/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/arcticwolf/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/arcticwolf/pickup-request"                  [R,NE,L]

    # Brookdale Senior Living Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/brookdale/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/brookdale/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/brookdale/pickup-request"                 [R,NE,L]

    # Centene Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/centene/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/centene/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/centene/pickup-request"                 [R,NE,L]

    # Cerner Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/cerner/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/cerner/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/cerner/pickup-request"                  [R,NE,L]

    # Chegg Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/chegg/pickuprequest$           [OR,NC]
    RewriteCond %{REQUEST_URI} ^/chegg/page/pickuprequest$      [NC]
    RewriteRule ^.*$  "/chegg/pickup-request"                   [R,NE,L]

    # Ebay Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/ebay/pickuprequest$            [OR,NC]
    RewriteCond %{REQUEST_URI} ^/ebay/page/pickuprequest$       [NC]
    RewriteRule ^.*$  "/ebay/pickup-request"                    [R,NE,L]

    # First American Title Company Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/firstamericantitlecompany/pickuprequest$      [OR,NC]
    RewriteCond %{REQUEST_URI} ^/firstamericantitlecompany/page/pickuprequest$ [NC]
    RewriteRule ^.*$  "/firstamericantitlecompany/pickup-request"              [R,NE,L]

    # GoDaddy Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/godaddy/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/godaddy/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/godaddy/pickup-request"                 [R,NE,L]

    # JEN-WELD Inc Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/jeldweninc/pickuprequest$      [OR,NC]
    RewriteCond %{REQUEST_URI} ^/jeldweninc/page/pickuprequest$ [NC]
    RewriteRule ^.*$  "/jeldweninc/pickup-request"              [R,NE,L]

    # Kaplan Inc Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/kaplan/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/kaplan/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/kaplan/pickup-request"                  [R,NE,L]

    # LinkedIn Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/linkedin/pickuprequest$        [OR,NC]
    RewriteCond %{REQUEST_URI} ^/linkedin/page/pickuprequest$   [NC]
    RewriteRule ^.*$  "/linkedin/pickup-request"                [R,NE,L]

    # Magento Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/magento/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/magento/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/magento/pickup-request"                 [R,NE,L]

    # PayPal Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/paypal/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/paypal/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/paypal/pickup-request"                  [R,NE,L]

    # Pixar Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/pixar/pickuprequest$           [OR,NC]
    RewriteCond %{REQUEST_URI} ^/pixar/page/pickuprequest$      [NC]
    RewriteRule ^.*$  "/pixar/pickup-request"                   [R,NE,L]

    # Principal Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/principal/pickuprequest$       [OR,NC]
    RewriteCond %{REQUEST_URI} ^/principal/page/pickuprequest$  [NC]
    RewriteRule ^.*$  "/principal/pickup-request"               [R,NE,L]

    # Providence St. Joseph Health Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/providencestjoseph/pickuprequest$       [OR,NC]
    RewriteCond %{REQUEST_URI} ^/providencestjoseph/page/pickuprequest$  [NC]
    RewriteRule ^.*$  "/providencestjoseph/pickup-request"               [R,NE,L]

    # Quadbridge Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/quadbridge/pickuprequest$      [OR,NC]
    RewriteCond %{REQUEST_URI} ^/quadbridge/page/pickuprequest$ [NC]
    RewriteRule ^.*$  "/quadbridge/pickup-request"              [R,NE,L]

    # SipiDemo Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/sipidemo/pickuprequest$        [OR,NC]
    RewriteCond %{REQUEST_URI} ^/sipidemo/page/pickuprequest$   [NC]
    RewriteRule ^.*$  "/sipidemo/pickup-request"                [R,NE,L]

    # Switch Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/switch/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/switch/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/switch/pickup-request"                  [R,NE,L]

    # Trinity Health Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/trinity/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/trinity/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/trinity/pickup-request"                 [R,NE,L]

    # Workday Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/workday/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/workday/page/pickuprequest$    [NC]
    RewriteRule ^.*$  "/workday/pickup-request"                 [R,NE,L]

    # Redirect hits to Yahoo or Oath to Verizon Media
    RewriteCond %{REQUEST_URI} ^/yahoo$                         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/home$                    [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/login$                   [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath$                          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/home$                     [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/login$                    [NC]
    RewriteRule ^.*$  "/verizonmedia"                           [R,NE,L]

    # Verizon Media (previously Yahoo and Oath) Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/yahoo/page/pickuprequest$        [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/pickuprequest$             [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/pickup-request$            [OR,NC]
    RewriteCond %{REQUEST_URI} ^/yahoo/pickup-request/login$      [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/page/pickuprequest$         [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/pickuprequest$              [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/pickup-request$             [OR,NC]
    RewriteCond %{REQUEST_URI} ^/oath/pickup-request/login$       [OR,NC]
    RewriteCond %{REQUEST_URI} ^/verizonmedia/page/pickuprequest$ [OR,NC]
    RewriteCond %{REQUEST_URI} ^/verizonmedia/pickuprequest$      [NC]
    RewriteRule ^.*$  "/verizonmedia/pickup-request"              [R,NE,L]

    # White Cap Networks Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/whitecap/pickuprequest$          [OR,NC]
    RewriteCond %{REQUEST_URI} ^/whitecap/page/pickuprequest$     [NC]
    RewriteRule ^.*$  "/whitecap/pickup-request"                  [R,NE,L]

    # Zeta Interactive Pickup Request Form Redirects
    RewriteCond %{REQUEST_URI} ^/zeta/pickuprequest$            [OR,NC]
    RewriteCond %{REQUEST_URI} ^/zeta/page/pickuprequest$       [NC]
    RewriteRule ^.*$  "/zeta/pickup-request"                    [R,NE,L]


    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
