.sar-box-program {
    background-color: #eff9ff;
    padding: 5px 15px;
}

.pickup-request-faqs-link {
	padding: 20px 0;
	margin: 0;

	.show-pickup-request-faqs {
		cursor: pointer;
	}
}

.pickup-request-faqs {
	padding: 0 0 40px;

	.faq-header {
		h2 {
			font-size: 18px;
			text-align: center;
			padding: 20px 0;
			margin: 0;
		}
	}

	.accordion-title {
		h2 {
			font-weight: bold;
		}
	}
}